<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slxy.www.mapper.SelectDepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.slxy.www.model.SelectDepartment">
        <id column="id" property="id" />
        <result column="dep_name" property="depName" />
        <result column="dep_status" property="depStatus" />
        <result column="dep_info" property="depInfo" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modify" property="gmtModify" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dep_name, dep_status, dep_info,DATE_FORMAT(gmt_create, '%Y-%m-%d %H:%i:%s') AS gmt_create,DATE_FORMAT(gmt_modify, '%Y-%m-%d %H:%i:%s') AS gmt_modify
    </sql>

    <select id="userDisable">
        UPDATE select_department SET dep_status=#{depStatus} WHERE id=#{id}
    </select>
    <select id="getDepByPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM select_department ORDER BY gmt_create DESC ,dep_status
    </select>
</mapper>
