<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slxy.www.mapper.SelectTopicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.slxy.www.model.SelectTopic">
        <id column="id" property="id" />
        <result column="sub_id" property="subId" />
        <result column="tea_id" property="teaId" />
        <result column="stu_id" property="stuId" />
        <result column="stu_select_reason" property="stuSelectReason" />
        <result column="tea_audit_state" property="teaAuditState" />
        <result column="tea_audit_content" property="teaAuditContent" />
        <result column="topic_year" property="topicYear" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modify" property="gmtModify" />
    </resultMap>


    <resultMap id="BaseResultDtoMap" type="com.slxy.www.model.dto.SelectTopicDto">
        <id column="id" property="id" />
        <result column="sub_id" property="subId" />
        <result column="tea_id" property="teaId" />
        <result column="stu_id" property="stuId" />
        <result column="stu_select_reason" property="stuSelectReason" />
        <result column="tea_audit_state" property="teaAuditState" />
        <result column="tea_audit_content" property="teaAuditContent" />
        <result column="topic_year" property="topicYear" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modify" property="gmtModify" />
        <result column="sub_name" property="subName" />
        <result column="stu_name" property="stuName" />
        <result column="tea_name" property="teaName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">

        id, sub_id AS subId, tea_id AS teaId, stu_id AS stuId, stu_select_reason AS stuSelectReason, tea_audit_state AS teaAuditState, tea_audit_content AS teaAuditContent, topic_year AS topicYear, gmt_create AS gmtCreate, gmt_modify AS gmtModify
    </sql>



    <select id="getTopicByPage" resultMap="BaseResultDtoMap">
        SELECT
        a.*, b.sub_name,
        c.user_name AS stu_name,
        d.user_name AS tea_name
        FROM
        select_topic a
        INNER JOIN select_subject b ON a.sub_id = b.id
        INNER JOIN select_user_base c ON a.stu_id = c.id
        INNER JOIN select_user_base d ON a.tea_id = d.id
        WHERE 1=1
        <if test="@Ognl@isNotEmpty(search)">
            and (b.sub_name like '%${search}%' or
            a.topic_year like '%${search}%')
        </if>
        <if test="@Ognl@isNotEmpty(stuId)">
            and a.stu_id = #{stuId}
        </if>
        <if test="@Ognl@isNotEmpty(teaId)">
            and a.tea_id = #{teaId}
        </if>
        <if test="@Ognl@isNotEmpty(teaAuditState)">
            and a.tea_audit_state = #{teaAuditState}
        </if>
        ORDER BY a.tea_audit_state DESC ,a.gmt_create DESC
    </select>
</mapper>
