<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slxy.www.mapper.SelectUserBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.slxy.www.model.SelectUserBase">
        <id column="id" property="id" />
        <result column="user_code" property="userCode" />
        <result column="user_password" property="userPassword" />
        <result column="user_name" property="userName" />
        <result column="user_sex" property="userSex" />
        <result column="user_mail" property="userMail" />
        <result column="user_phone" property="userPhone" />
        <result column="user_qq" property="userQq" />
        <result column="stu_major_name" property="stuMajorName" />
        <result column="stu_class" property="stuClass" />
        <result column="stu_year" property="stuYear" />
        <result column="tea_position" property="teaPosition" />
        <result column="tea_major_name" property="teaMajorName" />
        <result column="tea_education" property="teaEducation" />
        <result column="tea_direction" property="teaDirection" />
        <result column="tea_dep_name" property="teaDepName" />
        <result column="tea_info" property="teaInfo" />
        <result column="user_status" property="userStatus" />
        <result column="user_type" property="userType" />
        <result column="operator_id" property="operatorId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modify" property="gmtModify" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_code AS userCode, user_password AS userPassword, user_name AS userName, user_sex AS userSex,
         user_mail AS userMail, user_phone AS userPhone, user_qq AS userQq, stu_major_name AS stuMajorName,
         stu_class AS stuClass, stu_year AS stuYear, tea_position AS teaPosition, tea_major_name AS teaMajorName,
         tea_education AS teaEducation, tea_direction AS teaDirection, tea_dep_name AS teaDepName, tea_info AS teaInfo,
         user_status AS userStatus, user_type AS userType, operator_id AS operatorId,
         DATE_FORMAT(gmt_create, '%Y-%m-%d %H:%i:%s') AS gmtCreate,
         DATE_FORMAT(gmt_modify, '%Y-%m-%d %H:%i:%s') AS gmtModify
    </sql>

    <sql id="Base_Column_List1">
        id, user_code, user_password, user_name, user_sex,
        user_mail, user_phone, user_qq, stu_major_name,
        stu_class, stu_year, tea_position, tea_major_name,
        tea_education, tea_direction, tea_dep_name, tea_info,
        user_status, user_type, operator_id,
        DATE_FORMAT(gmt_create, '%Y-%m-%d %H:%i:%s') AS gmt_create,
        DATE_FORMAT(gmt_modify, '%Y-%m-%d %H:%i:%s') AS gmt_modify
    </sql>



    <select id="getUserByPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List1"/> FROM select_user_base a
        WHERE 1=1
        <if test="@Ognl@isNotEmpty(search)">
            and (
            a.user_code like '%${search}%' or
            a.user_name like '%${search}%' or
            a.user_phone like '%${search}%' or
            a.user_qq like '%${search}%' or
            a.user_mail like '%${search}%'
            )
        </if>
        <if test="@Ognl@isNotEmpty(stuMajorName)">
            and a.stu_major_name = #{stuMajorName}
        </if>
        <if test="@Ognl@isNotEmpty(stuClass)">
            and a.stu_class = #{stuClass}
        </if>
        <if test="@Ognl@isNotEmpty(stuYear)">
            and a.stu_year = #{stuYear}
        </if>
        <if test="@Ognl@isNotEmpty(userSex)">
            and a.user_sex = #{userSex}
        </if>
        <if test="@Ognl@isNotEmpty(userStatus)">
            and a.user_status = #{userStatus}
        </if>
        <if test="@Ognl@isNotEmpty(userType)">
            and a.user_type = #{userType}
        </if>
        <if test="@Ognl@isNotEmpty(searchBgnTime)">
            and DATE_FORMAT(a.gmt_create,'%Y-%m-%d')  <![CDATA[>=]]> #{searchBgnTime}
        </if>
        <if test="@Ognl@isNotEmpty(searchEndTime)">
            and DATE_FORMAT(a.gmt_create,'%Y-%m-%d')  <![CDATA[<=]]> #{searchEndTime}
        </if>



        ORDER BY a.user_status DESC, a.gmt_create DESC
    </select>


    <select id="selectStuYear" resultMap="BaseResultMap">
        SELECT  * FROM select_user_base WHERE user_type=3 GROUP BY stu_year ORDER BY stu_year DESC
    </select>
    <select id="selectStuMajor" resultMap="BaseResultMap">
        SELECT  * FROM select_user_base WHERE user_type=3 GROUP BY stu_major_name
    </select>
    <select id="selectStuClass" resultMap="BaseResultMap">
        SELECT * FROM select_user_base WHERE user_type=3 GROUP BY stu_class
    </select>
</mapper>
