<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slxy.www.dao.ISelectTopicMapper">

	<!-- 通用查询结果列-->
	<resultMap id="SelectTopicResultMap" type="com.slxy.www.domain.po.SelectTopic">
		<id column="id" property="id" />
 		<result column="sub_id" property="subId" />
 		<result column="tea_id" property="teaId" />
 		<result column="stu_id" property="stuId" />
 		<result column="stu_select_reason" property="stuSelectReason" />
 		<result column="tea_audit_state" property="teaAuditState" />
 		<result column="tea_audit_content" property="teaAuditContent" />
 		<result column="topic_year" property="topicYear" />
 		<result column="task_file" property="taskFile" />
 		<result column="opening_report" property="openingReport" />
 		<result column="dissertation" property="dissertation" />
 		<result column="del_state" property="delState" />
 		<result column="gmt_create" property="gmtCreate" />
 		<result column="gmt_modify" property="gmtModify" />
	</resultMap>

	<resultMap id="BaseResultDtoMap" type="com.slxy.www.domain.dto.SelectTopicDto">
		<id column="id" property="id" />
		<result column="sub_id" property="subId" />
		<result column="tea_id" property="teaId" />
		<result column="stu_id" property="stuId" />
		<result column="stu_select_reason" property="stuSelectReason" />
		<result column="tea_audit_state" property="teaAuditState" />
		<result column="tea_audit_content" property="teaAuditContent" />
		<result column="task_book" property="taskBook" />
		<result column="opening_report" property="openingReport" />
		<result column="dissertation" property="dissertation" />
		<result column="topic_year" property="topicYear" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modify" property="gmtModify" />
		<result column="sub_name" property="subName" />
		<result column="stu_name" property="stuName" />
		<result column="tea_name" property="teaName" />
		<result column="tutor_score" property="tutorScore" />
		<result column="judge_score" property="judgeScore" />
		<result column="defence_score" property="defenceScore" />
		<result column="final_total_score" property="finalTotalScore" />
		<result column="tea_phone" property="teaPhone" />
		<result column="stu_phone" property="stuPhone" />
		<result column="del_state" property="delState" />
		<result column="for_dep_id" property="forDepId" />
	</resultMap>




	<select id="getTopicByPage" resultMap="BaseResultDtoMap">
		SELECT
		a.*, b.sub_name,b.for_dep_id , b.tutor_score, b.judge_score, b.defence_score, b.final_total_score,
		c.user_name AS stu_name,
		c.user_phone AS stu_phone,
		d.user_name AS tea_name,
		d.user_phone AS tea_phone
		FROM
		select_topic a
		LEFT JOIN select_subject b ON a.sub_id = b.id
		LEFT JOIN select_user_base c ON a.stu_id = c.id
		LEFT JOIN select_user_base d ON a.tea_id = d.id
		WHERE 1=1
		<if test="@Ognl@isNotEmpty(search)">
			and (b.sub_name like '%${search}%' or
			a.topic_year like '%${search}%')
		</if>
		<if test="@Ognl@isNotEmpty(stuId)">
			and a.stu_id = #{stuId}
		</if>
		<if test="@Ognl@isNotEmpty(teaId)">
			and a.tea_id = #{teaId}
		</if>
		<if test="@Ognl@isNotEmpty(teaAuditState)">
			and a.tea_audit_state = #{teaAuditState}
		</if>
		<if test="@Ognl@isNotEmpty(subState)">
			and b.sub_select_status = #{subState}
		</if>
		<if test="@Ognl@isNotEmpty(delState)">
			and a.del_state = #{delState}
		</if>
		<if test="@Ognl@isNotEmpty(forDepId)">
			and b.for_dep_id = #{forDepId}
		</if>
		<if test="@Ognl@isNotEmpty(majorId)">
			and c.stu_major_id = #{majorId}
		</if>
		<if test="@Ognl@isNotEmpty(stuClass)">
			and c.stu_class = #{stuClass}
		</if>
		<if test="@Ognl@isNotEmpty(searchBgnTime)">
			and DATE_FORMAT(a.gmt_create,'%Y-%m-%d')  <![CDATA[>=]]> #{searchBgnTime}
		</if>
		<if test="@Ognl@isNotEmpty(searchEndTime)">
			and DATE_FORMAT(a.gmt_create,'%Y-%m-%d')  <![CDATA[<=]]> #{searchEndTime}
		</if>
		ORDER BY a.tea_audit_state DESC ,a.gmt_create DESC
	</select>

	<select id="selectAllTopic" resultMap="BaseResultDtoMap">
		SELECT
		a.*, b.sub_name, b.tutor_score, b.judge_score, b.defence_score, b.final_total_score,
		c.user_name AS stu_name,
		c.user_phone AS stu_phone,
		d.user_name AS tea_name,
		d.user_phone AS tea_phone
		FROM
		select_topic a
		LEFT JOIN select_subject b ON a.sub_id = b.id
		LEFT JOIN select_user_base c ON a.stu_id = c.id
		LEFT JOIN select_user_base d ON a.tea_id = d.id
		WHERE 1=1

		ORDER BY a.tea_audit_state DESC ,a.gmt_create DESC
	</select>

	<select id="selectByInfo" resultMap="SelectTopicResultMap">
		SELECT
			*
		FROM
			select_topic a,
			select_subject b,
			select_user_base c
		WHERE
			a.sub_id = b.id
		AND a.stu_id = c.id
		AND b.sub_name = #{subName}
		AND c.user_name = #{stuName}
		AND a.topic_year = #{subYear}
	</select>
</mapper>
