<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slxy.www.dao.ISelectBugLogMapper">

	<!-- 通用查询结果列-->
	<resultMap id="SelectBugLogResultMap" type="com.slxy.www.domain.po.SelectBugLog">
		<id column="id" property="id" />
 		<result column="user_id" property="userId" />
 		<result column="bug_title" property="bugTitle" />
 		<result column="bug_content" property="bugContent" />
 		<result column="gmt_create" property="gmtCreate" />
	</resultMap>
	<resultMap id="BaseResultDtoMap" type="com.slxy.www.domain.dto.SelectBugLogDto">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="bug_title" property="bugTitle" />
		<result column="bug_content" property="bugContent" />
		<result column="gmt_create" property="gmtCreate" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, bug_title AS bugTitle, bug_content AS bugContent, gmt_create AS gmtCreate
	</sql>

	<select id="selectTenLog" resultMap="BaseResultDtoMap">
		SELECT a.*,b.user_name
		FROM select_bug_log a LEFT JOIN select_user_base b ON a.user_id = b.id
		WHERE 1=1
		ORDER BY a.gmt_create DESC
		limit 0,10
	</select>

</mapper>