<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slxy.www.dao.ISelectUserBaseMapper">

	<!-- 通用查询结果列-->
	<resultMap id="SelectUserBaseResultMap" type="com.slxy.www.domain.po.SelectUserBase">
		<id column="id" property="id" />
 		<result column="user_code" property="userCode" />
 		<result column="user_password" property="userPassword" />
 		<result column="user_name" property="userName" />
 		<result column="user_sex" property="userSex" />
 		<result column="user_mail" property="userMail" />
 		<result column="user_phone" property="userPhone" />
 		<result column="user_qq" property="userQq" />
 		<result column="stu_major_id" property="stuMajorId" />
 		<result column="stu_class" property="stuClass" />
 		<result column="stu_year" property="stuYear" />
 		<result column="tea_position" property="teaPosition" />
 		<result column="tea_major_name" property="teaMajorName" />
 		<result column="tea_education" property="teaEducation" />
 		<result column="tea_direction" property="teaDirection" />
 		<result column="tea_dep_id" property="teaDepId" />
 		<result column="tea_info" property="teaInfo" />
 		<result column="user_status" property="userStatus" />
 		<result column="user_type" property="userType" />
 		<result column="six_code" property="sixCode" />
 		<result column="operator_id" property="operatorId" />
 		<result column="gmt_create" property="gmtCreate" />
 		<result column="gmt_modify" property="gmtModify" />
	</resultMap>


	<sql id="Base_Column_List1">
		id, user_code, user_password, user_name, user_sex,
		user_mail, user_phone, user_qq, stu_major_id,
		stu_class, stu_year, tea_position, tea_major_name,
		tea_education, tea_direction, tea_dep_id, tea_info,
		user_status, user_type, operator_id,
		DATE_FORMAT(gmt_create, '%Y-%m-%d %H:%i:%s') AS gmt_create,
		DATE_FORMAT(gmt_modify, '%Y-%m-%d %H:%i:%s') AS gmt_modify
	</sql>



	<select id="getUserByPage" resultMap="SelectUserBaseResultMap">
		SELECT <include refid="Base_Column_List1"/> FROM select_user_base a
		WHERE 1=1
		<if test="@Ognl@isNotEmpty(search)">
			and (
			a.user_code like '%${search}%' or
			a.user_name like '%${search}%' or
			a.user_phone like '%${search}%' or
			a.user_qq like '%${search}%' or
			a.user_mail like '%${search}%'
			)
		</if>
		<if test="@Ognl@isNotEmpty(stuMajorId)">
			and a.stu_major_id = #{stuMajorId}
		</if>
		<if test="@Ognl@isNotEmpty(stuClass)">
			and a.stu_class = #{stuClass}
		</if>
		<if test="@Ognl@isNotEmpty(stuYear)">
			and a.stu_year = #{stuYear}
		</if>
		<if test="@Ognl@isNotEmpty(userSex)">
			and a.user_sex = #{userSex}
		</if>
		<if test="@Ognl@isNotEmpty(userStatus)">
			and a.user_status = #{userStatus}
		</if>
		<if test="@Ognl@isNotEmpty(userType)">
			and a.user_type = #{userType}
		</if>

		<if test="@Ognl@isNotEmpty(teaPosition)">
			and a.tea_position = #{teaPosition}
		</if>
		<if test="@Ognl@isNotEmpty(teaEducation)">
			and a.tea_education = #{teaEducation}
		</if>
		<if test="@Ognl@isNotEmpty(teaDepId)">
			and a.tea_dep_id = #{teaDepId}
		</if>
		<if test="@Ognl@isNotEmpty(majorIds)">
			and a.stu_major_id in
			<foreach collection="majorIds" index="index" item="item" open="(" separator="," close=")">
				#{majorIds[${index}]}
			</foreach>
		</if>
		<if test="@Ognl@isNotEmpty(searchBgnTime)">
			and DATE_FORMAT(a.gmt_create,'%Y-%m-%d')  <![CDATA[>=]]> #{searchBgnTime}
		</if>
		<if test="@Ognl@isNotEmpty(searchEndTime)">
			and DATE_FORMAT(a.gmt_create,'%Y-%m-%d')  <![CDATA[<=]]> #{searchEndTime}
		</if>
		ORDER BY a.stu_year desc, a.user_code,a.user_status DESC, a.gmt_create DESC
	</select>


	<select id="selectStuYear" resultMap="SelectUserBaseResultMap">
		SELECT  * FROM select_user_base WHERE user_type=3 GROUP BY stu_year ORDER BY stu_year DESC
	</select>
	<select id="selectStuMajor" resultMap="SelectUserBaseResultMap">
		SELECT  * FROM select_user_base WHERE user_type=3 GROUP BY stu_major_id
	</select>
	<select id="selectStuClass" resultMap="SelectUserBaseResultMap">
		SELECT * FROM select_user_base WHERE user_type=3 GROUP BY stu_class
	</select>
	<select id="selectTeaDep" resultMap="SelectUserBaseResultMap">
		SELECT * FROM select_user_base WHERE user_type=2 GROUP BY tea_dep_id
	</select>


</mapper>